.categoryCard {
	position: relative;
	aspect-ratio: 7 / 4;
	width: 100%;
	border-radius: 5px;
}

.categoryCard img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.categoryCard span {
	font-size: 0.74rem;
	line-height: 1.06rem;
	font-weight: 700;
}

.text {
	position: absolute;
	background: #ffffff;
	color: #000000;
	font-weight: 600;
	font-size: 10px;
	padding: 5px 10px;
	transform: skew(-20deg) translateX(-50%);
	border-radius: 5px;
	bottom: 10px;
	left: 50%;
	min-width: 100px;
	text-align: center;
	z-index: 3;
	text-wrap: nowrap;
}

.text p {
	position: relative;
	z-index: 4;
	color: black;
	transform: skew(20deg);
}

.count {
	background: #00000066;
	backdrop-filter: blur(4px);
	transform: skew(0) translateX(-50%) translateY(-100%);
	position: absolute;
	top: 0;
	left: 46%;
	border-radius: 4px;
}

.count p {
	position: relative;
	z-index: 1;
	font-size: 10px;
	padding: 3px 5px;
	transform: skew(20deg);
	color: white;
	width: max-content;
}

.overlay {
	position: fixed;
	inset: 0;
	background: #0000005a;
	z-index: 9999;
}

.content {
	background: white;
	position: fixed;
	max-height: 90%;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	z-index: 99999;
}

.categoryContent {
	overflow: auto;
	height: 100%;
}