.likeBtn {
	background: #15803d;
	width: 100%;
	height: 100%;
	border-radius: 0.75rem;
	display: grid;
	place-content: center;
}

.basketBtn {
	width: 50px;
	height: 50px;
	display: grid;
	place-content: center;
	position: fixed;
	right: 1rem;
	bottom: 0;
	z-index: 2;
	background: rgb(55 65 81 / 0.8);
	position: fixed;
	z-index: 999999;
}

.basketBtnSpan {
	width: 15px;
	height: 15px;
	border-radius: 99px;
	background: green;
	font-size: 12px;
	display: grid;
	place-content: center;
	position: absolute;
	right: 5px;
	top: 10px;
}

.buttonUp {
	width: 50px;
	height: 50px;
	display: grid;
	place-content: center;
	position: fixed;
	right: 16px;
	z-index: 99999;
	background: rgb(55 65 81 / 0.8);
	bottom: 0;
	font-size: 13px !important;
}
