.bigImage {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
}

.bigImage img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 10px;
}

.backdrop {
	position: fixed;
	inset: 0;
	background: #00000081;
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	z-index: 2;
}

.gameInfoCont {
	position: relative;
}

.gameInfo img {
	width: 100%;
}

.banner {
	background: #efd000;
	color: #000000;
	position: absolute;
	padding: 5px;
	border-radius: 5px;
	top: 18px;
	right: 18px;
	font-size: 14px;
	font-weight: 600;
}

.gameInfoMainImgCont {
	position: fixed;
	max-height: 250px;
	height: 100%;
	width: 100%;
}

.gameInfoMainImg {
	height: 100%;
	object-fit: cover;
}

.gamePriceCont {
	position: absolute;
	background: #232222c2;
	border-radius: 1.5rem;
	padding: 7px 16px;
	right: 1rem;
	bottom: 5rem;
	width: max-content;
}

.gamePriceCont:has(.discount) {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.gamePriceCont:has(.discount) .discount {
	color: rgb(239 208 0);
	font-weight: 600;
	font-size: 1.3rem;
	line-height: 2rem;
}

.gamePriceCont .price {
	color: #fff;
	font-weight: 600;
	font-size: 1.3rem;
	line-height: 2rem;
}

.gamePriceCont:has(.discount) .price {
	text-decoration: line-through;
	font-size: 1.1rem;
}

.XSBtn {
	position: absolute;
	left: 66px;
	bottom: 5rem;
}

.gameInfoHeader {
	padding: 1rem 0 0;
	position: sticky;
	top: -191px;
	border-top-left-radius: 0.75rem;
	border-top-right-radius: 0.75rem;
	z-index: 1;
	background: rgb(35 34 34);
	transform: translateY(181px);
}

.gameInfoHeaderLinks {
	display: flex;
	justify-content: space-between;
	padding: 0 9px;
	align-items: center;
}

.gameInfoHeader .navBtn {
	text-decoration: none;
	display: block;
	font-size: 0.85rem;
	line-height: 1.06rem;
	font-weight: 700;
	width: max-content;
	padding-bottom: 8px;
	color: #6b7280;
}

.gameInfoHeader .navBtn.active {
	border-bottom: 2px solid white;
	color: #fff;
}

.gameInfoText {
	white-space: pre-wrap;
}

.gameInfoMain {
	background: #232222;
	transform: translateY(180px);
	/* padding-bottom: 70px; */
}

.gameTitle {
	display: grid;
	grid-template-columns: 72px 1fr;
	align-items: center;
	gap: 15px;
	padding: 15px 0;
}

.gameTitle img {
	width: 100%;
	height: 72px;
	border-radius: 0.75rem;
	object-fit: cover;
}

.gameTitle h2 {
	font-size: 1.1rem;
}

.gameTitle span {
	font-size: 0.74rem;
	color: rgb(156 163 175);
}

.labels {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin: 0 0 1rem;
}

.label {
	flex-shrink: 0;
	background-color: rgb(229 231 235);
	padding: 0.25rem 0.75rem;
	border-radius: 999px;
	color: rgb(55 65 81);
	font-size: 0.74rem;
	font-weight: 600;
	width: max-content;
}

.basketBtn {
	width: 50px;
	height: 50px;
	display: grid;
	place-content: center;
	position: fixed;
	right: 20px;
	bottom: 0;
	z-index: 2;
	background: rgb(55 65 81 / 0.8);
}

.basketBtnSpan {
	width: 15px;
	height: 15px;
	border-radius: 99px;
	background: green;
	font-size: 12px;
	display: grid;
	place-content: center;
	position: absolute;
	right: 5px;
	top: 10px;
}

.editButton {
	position: absolute;
	top: 19px;
	right: 50px;
}
