body:has(.sheet) {
	overflow: hidden;
}

.content {
	height: calc(100vh - 50px);
	height: calc(100dvh - 50px);
	background: url('../../assets/main-bg.jpg') center/cover no-repeat;
	position: fixed;
	bottom: 0;
	z-index: 99999;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	/* padding-bottom: 10%; */
}

.sheetBody {
	height: 100%;
}

.sheetHeader {
	padding: 15px 0;
}

.closeBtn {
	font-size: 14px;
	font-weight: 600;
}

.overlay {
	position: fixed;
	inset: 0;
	background: #00000080;
	z-index: 9999;
	backdrop-filter: blur(1px);
}

.sheetMain {
	height: calc(100% - 30px - 50px - 72px);
}
