.sheet {
	height: 100vh;
	height: 100dvh;
	background: url('../../assets/main-bg.jpg') center/cover no-repeat;
	position: fixed;
	inset: 0;
	top: 30px;
	z-index: 99999;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	/* padding-bottom: 10%; */
}

.sheetBody {
	height: 100%;
}

.sheetHeader {
	position: relative;
	padding: 15px 0;
}

.sheetHeaderCont {
	display: flex;
	justify-content: space-between;
}

.shareBtn path {
	/* stroke: rgb(96 165 250); */
	stroke: #fff;
}

.sheetHeader:has(.sheetHeaderContent) {
	position: relative;
	padding: 15px 0;
	margin-bottom: 10px;
}

.sheetHeaderContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* .sheetHeader .line {
	width: 35px;
	height: 4px;
	border-radius: 99px;
	background: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */

.sheetHeaderContent h2 {
	font-size: 1.2rem;
}

.closeBtn {
	font-size: 1rem;
	font-weight: 400;
}

.backdrop {
	position: fixed;
	inset: 0;
	background: #00000080;
	z-index: 9999;
	-webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px);
}

.sheetMain {
	height: calc(100% - 30px - 50px - 60px);
}

.line {
	--line-height: 4px;
	width: 35px;
	height: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.line:after,
.line:before {
	content: '';
	position: absolute;
	top: calc(50% - calc(var(--line-height) / 2));
	width: calc(50% + 1px);
	height: var(--line-height);
	background: #fff;
	border-radius: 50px;
	transition: all 0.25s ease-in-out;
}
.line:before {
	--half-height: calc(var(--line-height) / 2);
	left: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	transform-origin: right;
}
.line:after {
	right: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	transform-origin: left;
}
.line.active:after {
	transform: rotate(-25deg);
}
.line.active:before {
	transform: rotate(25deg);
}
