.selectConsole {
	padding: 15px;
	border-radius: 10px;
	background: #273446;
	display: grid;
	gap: 15px;
}

.consoleCardsCont {
	background: #213339;
	border-radius: 10px;
}

.consoleCards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.75rem;
	padding: 15px;
}

.consoleCard {
	border: 2px solid #9ca3af;
	border-radius: 0.375rem;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0.5;
}

.consoleCard.active {
	border-color: #16a34a;
	opacity: 1;
}

.consoleCard span {
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 600;
}

.consoleButton {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
