.gameTitle {
	display: grid;
	grid-template-columns: 72px 1fr;
	align-items: center;
	gap: 15px;
	padding: 10px 0 15px;
}

.gameTitle img {
	width: 100%;
	height: 72px;
	border-radius: 0.75rem;
	object-fit: cover;
}

.gameTitle h2 {
	font-size: 1.1rem;
}

.gameTitle span {
	font-size: 0.74rem;
	color: rgb(156 163 175);
}

.labelsCont {
	display: grid;
	grid-template-columns: 1fr 25px;
	gap: 10px;
	align-items: start;
}

.labels {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin: 0 0 1rem;
}

.label {
	flex-shrink: 0;
	background-color: rgb(229 231 235);
	padding: 0.25rem 0.75rem;
	border-radius: 999px;
	color: rgb(55 65 81);
	font-size: 0.74rem;
	font-weight: 600;
	width: max-content;
}

.sharebtn {
	color: rgb(96 165 250);
	font-size: 1rem;
	line-height: 1.5rem;
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.sharebtn path {
	stroke: rgb(96 165 250);
}

.sharebtnIcon path {
	stroke: rgb(96 165 250);
}
