.filter {
	display: grid;
	grid-template-columns: 16px 1fr;
	align-items: center;
	gap: 0.75rem;
	width: 100%;
}

.iconCont {
	padding-bottom: 0.5rem;
}

.filterText {
	border-bottom: 1px solid #4b5563;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0.5rem;
	padding-right: 1rem;
	width: 100%;
}

.filterText p {
	font-size: 1rem;
	line-height: 1.5rem;
}
