.gameCard {
	border-radius: 0.5rem;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	background-color: rgb(55 65 81 / 0.4);
	transition: 0.3s;
	height: 100%;
	display: grid;
}

.gameCard.md {
	max-height: 233px;
	grid-template-rows: minmax(0, 142px) auto auto;
}

.gameCard.md.seriesCard {
	/* max-height: 250px; */
	/* grid-template-rows: minmax(0, 250px) auto auto; */
	max-height: none;
	display: block;
}

.gameCard.lg {
	max-height: 286px;
	grid-template-rows: minmax(0, 195px) auto auto;
}

.gameCard.dayGame {
	position: relative;
	max-height: none;
	grid-template-rows: auto;
	border-radius: 0.5rem;
	overflow: hidden;
}

.gameCard:active {
	transform: scale(0.9);
}

.banner {
	background: #efd000;
	color: #000000;
	position: absolute;
	padding: 5px;
	border-radius: 5px;
	top: 10px;
	right: 5px;
	font-size: 11px;
	font-weight: 600;
}

.imgWrapper {
	position: relative;
}

.gameCard.dayGame .imgWrapper {
	max-height: 350px;
}

.imgWrapper img {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	object-fit: cover;
	height: 100%;
}

.gameCard.md.seriesCard .imgWrapper img {
	height: auto;
	width: 100%;
}

.gameCard.md.seriesCard .imgWrapper img {
	border-radius: 0.5rem;
}

.imgWrapper .XSCont {
	position: absolute;
	left: 3px;
	bottom: 0px;
	display: flex;
	align-items: center;
}

.gameCard.dayGame .imgWrapper .XSCont {
	bottom: 95px;
}

.imgWrapper .flagCont {
	position: absolute;
	left: 3px;
	top: 0px;
	display: flex;
	align-items: center;
}

.XSCont .rusBtn {
	padding-left: 8px;
}

.XSCont .xsBtn {
	margin-left: 5px;
}

.XSCont:not(:has(.xsBtn)) .rusBtn img {
	margin-bottom: 10px;
}

.rusBtn img {
	width: 24px;
	border-radius: 2px;
	margin-top: 10px;
	margin-left: 11px;
}

.rusBtn svg {
	margin-bottom: 1px;
}

.imgWrapper .XSInfo {
	position: absolute;
	left: 0;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	background-color: rgb(55 65 81 / 0.4);
}

.gameInfo {
	padding: 12px;
	display: grid;
	gap: 8px;
}

.gameCard.dayGame .gameInfo {
	position: absolute;
	width: 100%;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	background-color: rgb(55 65 81 / 0.4);
	bottom: 0;
}

.gameInfo:has(.seriesCardTitle) {
	gap: 0px;
}

.gameTitle {
	font-size: 0.875rem;
	line-height: 1.25rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	height: 40px;
	word-break: break-all;
}

.gameCard.dayGame .gameTitle {
	font-size: 1.25rem;
}

.gameTitle.seriesCardTitle {
	height: auto;
}

.gamePriceCont {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4px;
}

.gameCard.dayGame .gamePriceCont {
	justify-content: flex-start;
	gap: 14px;
}

.gamePriceCont:has(.discount) .price {
	text-decoration: line-through;
	color: #cbd5e1;
}

.price {
	font-weight: 700;
	font-size: 16px;
	color: white;
	white-space: nowrap;
}

.discount {
	color: #efd000;
	border-radius: 5px;
	font-weight: 700;
	white-space: nowrap;
}

.basketBtn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
}

@media (max-width: 405px) {
	.price {
		font-size: 15px;
	}

	.discount {
		font-size: 15px;
	}
}

@media (max-width: 385px) {
	.price {
		font-size: 14px;
	}

	.discount {
		font-size: 14px;
	}
}

@media (max-width: 368px) {
	.price {
		font-size: 13px;
	}

	.discount {
		font-size: 13px;
	}
}
